{% include "header.html" %}

<body style="background-image: url('{{url_for('static', filename='/img/bg/hex.png') }}');">

{% include "navigationbar.html" %}


  <section class="about-section" id="main">
        <div class="row">
        <div class='col-lg-2'>
        </div>
        <div class='col-lg-8'>
        <h2>
            Hey there! I'm Elijah, an entry level Programmer/Developer, well versed with the Python language.
            I have built Flask websites and Django websites too. I am also very passionate
            with the financial markets and I have 3 years of experience with it. I use my spare time to study
            trading algorithms and programs as I consider it to be fun and challenging.I am a graduate of a
            BS Business Administration course majoring in Human Resource Development Management.
        </h2>
        </div>
        </div>


    </section>

<div class="blink_me">↓ ↓ ↓</div>
<section class="certificates-section" id="certificates">

    <div class="row">
      <div class="col-md-1"></div>
      <div class="col-md-3">
        <h3> Python Pro Bootcamp </h3>
        <img class="cert-image" src="{{ url_for('static', filename='/img/certificates/python-bootcamp.jpg') }}" alt="python bootcamp">

        <h3> MQL4 Algorithmic Trading </h3>
        <img class="cert-image" src="{{ url_for('static', filename='/img/certificates/algofx.jpg') }}" alt="algo fx">
      </div>
      <div class="col-md-4">
        <h3> Python Django 2021 </h3>
          <img class="cert-image" src="{{ url_for('static', filename='/img/certificates/django-cert.jpg') }}" alt="python django">
        <h3> FTMO Certificate </h3>
          <img class="cert-image" src="{{ url_for('static', filename='/img/certificates/ftmo.png') }}" alt="FTMO certificate">
      </div>
      <div class="col-md-3">
        <h3> MySQL: Data Analytics & B.I.</h3>
        <img class="cert-image" src="{{ url_for('static', filename='/img/certificates/ongoing.jpg') }}" alt="algo fx">
        <h3> Crypto Algo Trading Course </h3>
        <img class="cert-image" src="{{ url_for('static', filename='/img/certificates/ongoing.jpg') }}" alt="python bootcamp">
      </div>
      <div class="col-md-1"></div>
    </div>

</section>

{% include "footer.html" %}