{% include 'header.html' %}

<body style="background-image: url('{{url_for('static', filename='/img/bg/y-bg.png') }}');">

{% include "navigationbar.html" %}

<section class="main-section" id="main">
    <div class="">
        <div class="row">

        <!--left grid-->
          <div class='col-lg-2'>
          </div>

          <div class='col-lg-8 contacts-section'>
            <h2>
                EMAIL: elijahmamuri@gmail.com
            </h2><br>
            <h2>
                PHONE: +63-936-920-9056 / +63-968-554-7549
            </h2>
          </div>

          <div class='col-lg-2'>
          </div>
          </div>

    </div>
</section>



{% include "footer.html" %}
