<nav class="navbar navbar-expand-lg navbar-dark fixed-to">
    <a class='navbar-brand' id="nav-logo" href="{{ url_for('home') }}">Elijah Garay</a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navid" aria-controls="navid" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>

    <div class='collapse navbar-collapse ' id="navid">
    <ul class='ms-auto navbar-nav'>
        {% if not home_page %}
        <li class='nav-item'>
            <a class='nav-link' href="{{ url_for('home') }}">Home</a>
        </li>
        {% endif %}
        {% if not projects_page %}
        <li class='nav-item'>
            <a class='nav-link' href="{{ url_for('projects') }}">Projects</a>
        </li>
        {% endif %}
        {% if not about_page %}
        <li class='nav-item'>
            <a class='nav-link' href="{{ url_for('about') }}">About Me</a>
        </li>
        {% endif %}
        {% if not contact_page %}
        <li class='nav-item'>
            <a class='nav-link' href="{{ url_for('contact') }}">Contact</a>
        </li>
        {% endif %}
    </ul>
    </div>
</nav>