{% include 'header.html' %}

<body style="background-image: url('{{url_for('static', filename='/img/bg/squiggle.png') }}');">

{% include "navigationbar.html" %}

<section class="container">
  <div class="projects-section">
      <h1 class="rampart" style="text-align:center;">MY PROJECTS</h1>
      <br><br>

      <div class="proj-section">
      <div class="right-element">
      <a href="" target="_blank">
        <img style="float:left;" class="proj-img-left"
             src="{{ url_for('static', filename='/img/sites/devsearch.PNG') }}" alt="devsearch">
      </a>
      </div>
      <div class="text-right">
          <a href="" class="proj-link rampart">DEVSEARCH</a>
          <br><br>
          <p class="inline">Built with Django as a project. Database integreted. Authentication was also
          integrated. Search and Pagination can be used. Sending emails and password resetting is available.
          REST API was built during the project.</p>
        </div>
      </div>

      <div class="proj-section">
      <div class="left-element">
        <div class="">
        <a href="https://elijah-blogs.herokuapp.com/" target="_blank">
        <img style="float:right;" class="proj-img-right"
             src="{{ url_for('static', filename='/img/sites/blog-site.PNG') }}" alt="devsearch">
        </a>
        </div>
        <div class="text-left">
          <a href="https://elijah-blogs.herokuapp.com/" target="_blank" class="proj-link rampart">
              Elijah's Blog
          </a>
          <br>
          <br>
          <p class="inline"> A personal blog website built with Flask and PostgreSQL. Flask Forms
          and Flask Authentication was also used, together with password hashing.</p>
        </div>
      </div>
      </div>

      <div class="proj-section">
      <div class="right-element">
        <a href="https://todolist-elijah.herokuapp.com/" target="_blank">
        <img style="float:left;" class="proj-img-left"
             src="{{ url_for('static', filename='/img/sites/todolist.PNG') }}" alt="devsearch">
        </a>
      </div>
      <div class="text-right">
          <a href="https://todolist-elijah.herokuapp.com/" class="proj-link rampart" target="_blank">
              To Do List w/ authentication
          </a>
          <br><br>
          <p class="inline"> A simple Flask to do list project that takes registration and login requests from
          multiple users with a PostgreSQL database. Password Hashing was used also. </p>
        </div>
      </div>

      <div class="proj-section">
      <div class="left-element">
        <div class="">
        <a href="{{ url_for('tindog') }}" target="_blank">
        <img style="float:right;" class="proj-img-right"
             src="{{ url_for('static', filename='/img/sites/tindog.PNG') }}" alt="TINDOG">
        </a>
        </div>
        <div class="text-left">
          <a href="{{ url_for('tindog') }}" class="proj-link rampart" target="_blank">
              TINDOG
          </a>
          <br><br>
          <p class="inline"> A static website that shows CSS and Html5 properties.</p>
        </div>
      </div>
      </div>

      <div class="proj-section">
      <div class="right-element">
        <a href="https://github.com/heyyyelijah/TelegramBot-Motivational-Quotes" target="_blank">
        <img style="float:left;" class="proj-img-left"
             src="{{ url_for('static', filename='/img/sites/motivation-tg.PNG') }}" alt="telegram bot motivational quotes">
        </a>
      </div>
      <div class="text-right">
          <a href="https://github.com/heyyyelijah/TelegramBot-Motivational-Quotes" class="proj-link rampart" target="_blank">
              MOTIVATIONAL QUOTES BOT
          </a>
          <br><br>
          <p class="inline">
              A telegram integrated bot that can input and output motivational quotes by sending
              "motivate me" or "add new quote {"place new quote here without the brackets."}"
          </p>
        </div>
      </div>


  </div>

</section>
<br><br><br><br>
{% include "footer.html" %}